In [3]:
import IPython
import os
import pandas as pd
import math
from matplotlib import pyplot as plt
import numpy as np
from numpy import linspace
import scipy.stats as stats
from scipy.stats import norm
import statistics
from scipy.stats import kurtosis
import numpy as np

from math import *

import time

import matplotlib.pyplot as plt

from scipy.stats import norm, scoreatpercentile, kstest, uniform, kstwobign

import pandas as pd

import mpmath as mp

from statsmodels.distributions.empirical_distribution import ECDF

In [19]:

TickersName = ['MMC','AON','CB','K','CAG','HSY','MKC','AJG','HRL','CPB']

Tickers = range(1,len(TickerName)+1)

TickerName = pd.DataFrame(index = Tickers)

TickerName["Компания"] = TickersName
TickerName

   Компания
1       MMC
2       AON
3        CB
4         K
5       CAG
6       HSY
7       MKC
8       AJG
9       HRL
10      CPB

In [20]:
index = range(1,len(TickersName)+1)
Tickers = ['MMC','AON','CB','K','CAG','HSY','MKC','AJG','HRL','CPB']
TickersName = ['Marsh & McLennan Companies Inc.','Aon plc','Chubb Limited','Kellogg Company','Conagra Brands Inc.',
'Hershey Company' , 'McCormick&Company Incorporated','Arthur J. Gallagher & Co.',
'Hormel Foods Corporation','Campbell Soup Company']

data = {'Тикеры': Tickers, 'Компании': TickersName}
df = pd.DataFrame(data)
print (df)

  Тикеры                         Компании
0    MMC  Marsh & McLennan Companies Inc.
1    AON                          Aon plc
2     CB                    Chubb Limited
3      K                  Kellogg Company
4    CAG              Conagra Brands Inc.
5    HSY                  Hershey Company
6    MKC   McCormick&Company Incorporated
7    AJG        Arthur J. Gallagher & Co.
8    HRL         Hormel Foods Corporation
9    CPB            Campbell Soup Company

In [8]:
MMC_df = pd.read_csv('MMC.csv')
AON_df = pd.read_csv('AON.csv')
CB_df = pd.read_csv('CB.csv')
K_df = pd.read_csv('K.csv')
CAG_df = pd.read_csv('CAG.csv')
HSY_df = pd.read_csv('HSY.csv')
MKC_df = pd.read_csv('MKC.csv')
AJG_df = pd.read_csv('AJG.csv')
HRL_df = pd.read_csv('HRL.csv')
CPB_df = pd.read_csv('CPB.csv')
shares = pd.concat([MMC_df, AON_df, CB_df, K_df, CAG_df, HSY_df, MKC_df, AJG_df, HRL_df, CPB_df])
shares['<DATE>'] = pd.to_datetime(shares['<DATE>'], format='%Y%m%d').dt.year
shares.pivot_table(index='<TICKER>', columns='<DATE>', values='<OPEN>', aggfunc='count')

<DATE>,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
<TICKER>,,,,,,,,,,
AJG,186,252,252,252,252,251,251,252,253,63
AON,186,252,252,252,252,251,251,252,253,63
CAG,186,252,252,252,252,251,251,252,253,63
CPB,186,252,252,252,252,251,251,252,253,63
HRL,186,252,252,252,252,251,251,252,252,63
HSY,186,252,252,252,252,251,251,252,253,63
K,186,252,252,252,252,251,251,252,253,63
MKC,186,252,252,252,252,251,251,252,253,63
MMC,186,252,252,252,252,251,251,252,253,63

In [36]:

tick = ['MMC','AON','CB','K','CAG','HSY','MKC','AJG','HRL','CPB']
df = pd.DataFrame(data)
dfs = [MMC_df, AON_df, CB_df, K_df, CAG_df, HSY_df, MKC_df, AJG_df, HRL_df, CPB_df]
torg_days = pd.DataFrame(index = ['MMC','AON','CB','K','CAG','HSY','MKC','AJG','HRL','CPB'], columns = range(2012,2021))

for x in range(2012,2021): #Заполнение таблицы торговых дней

    for i in range(10):

        torg_days[x][i] = len(dfs[i]['Date'][dfs[i].Date.str.contains(str(x))])

KeyError: 'Date'

In [37]:
pd.DataFrame({'Название компании': ['Marsh & McLennan Companies Inc.','Aon plc','Chubb Limited','Kellogg Company','Conagra Brands Inc.',
'Hershey Company' , 'McCormick&Company Incorporated','Arthur J. Gallagher & Co.',
'Hormel Foods Corporation','Campbell Soup Company'],

'Тикер': ['MMC','AON','CB','K','CAG','HSY','MKC','AJG','HRL','CPB']})

                 Название компании Тикер
0  Marsh & McLennan Companies Inc.   MMC
1                          Aon plc   AON
2                    Chubb Limited    CB
3                  Kellogg Company     K
4              Conagra Brands Inc.   CAG
5                  Hershey Company   HSY
6   McCormick&Company Incorporated   MKC
7        Arthur J. Gallagher & Co.   AJG
8         Hormel Foods Corporation   HRL
9            Campbell Soup Company   CPB

In [38]:
pd.DataFrame({'Поле': ['<Date>','<Open>','<High>','<Low>','<Close>','<Adj close>', '<Volume>'],

'Значение': ['Дата','Цена открытия актива','Максимальная цена за период',

'Минимальная цена за период','Цена закрытия актива',

'Скорректированная цена закрытия', 'Объем торгов за период']})

          Поле                         Значение
0       <Date>                             Дата
1       <Open>             Цена открытия актива
2       <High>      Максимальная цена за период
3        <Low>       Минимальная цена за период
4      <Close>             Цена закрытия актива
5  <Adj close>  Скорректированная цена закрытия
6     <Volume>           Объем торгов за период

In [1]:
tick = ['MMC','AON','CB','K','CAG','HSY','MKC','AJG','HRL','CPB']

dfs = [MMC_df, AON_df, CB_df, K_df, CAG_df, HSY_df, MKC_df, AJG_df, HRL_df, CPB_df]
dfs

NameError: name 'MMC_df' is not defined

In [54]:
torg_days = pd.DataFrame(index = ['MMC','AON','CB','K','CAG','HSY','MKC','AJG','HRL','CPB'], columns = range(2012,2022))

for x in range(2012,2022): #Заполнение таблицы торговых дней 
    for i in range(10):
        torg_days[x][i] = len(dfs[i]['Date'][dfs[i].Date.str.contains(str(x))])
del torg_days[2021]

KeyError: 'Date'